<!DOCTYPE html>
<html>
    <head>
        <title>Study Performance Dataset</title>
    </head>
    <body>
        <h1>About the Student Study Performance Dataset</h1>
        <p>This dataset explores how students' performance in tests is influenced by various factors such as gender, ethnicity, parental level of education, lunch habits, and test preparation courses.</p>
        
        <h2>Dataset Overview:</h2>
        <ul>
            <li><strong>Size:</strong> 1000 rows x 8 columns</li>
            <li><strong>Variables:</strong> Gender, Race/Ethnicity, Parental Level of Education, Lunch, Test Preparation Course, Math Score, Reading Score, Writing Score.</li>
        </ul>

        <h2>Key Features:</h2>
        <ul>
            <li><strong>Demographic Factors:</strong> Explore the impact of gender, ethnicity, and parental level of education on students' test scores.</li>
            <li><strong>Student Support:</strong> Analyze the effects of lunch habits and test preparation courses on academic performance.</li>
            <li><strong>Subject Scores:</strong> Assess students' scores in math, reading, and writing subjects.</li>
        </ul>

        <h2>Dataset Columns:</h2>
        <ul>
            <li><strong>Gender:</strong> Sex of the student (Male/Female).</li>
            <li><strong>Race/Ethnicity:</strong> Ethnicity of the student (Group A, B, C, D, E).</li>
            <li><strong>Parental Level of Education:</strong> Highest level of education attained by the student's parents (e.g., bachelor's degree, some college).</li>
            <li><strong>Lunch:</strong> Type of lunch received by the student before the test (Standard or Free/Reduced).</li>
            <li><strong>Test Preparation Course:</strong> Whether the student completed a test preparation course before the test (Complete or None).</li>
            <li><strong>Math Score:</strong> Score achieved by the student in the math subject.</li>
            <li><strong>Reading Score:</strong> Score achieved by the student in the reading subject.</li>
            <li><strong>Writing Score:</strong> Score achieved by the student in the writing subject.</li>
        </ul>

        <h2>Dataset Source:</h2>
        <p>This dataset is available on Kaggle and was collected as part of a project to understand how various factors influence student performance in tests. You can access the full dataset on Kaggle through the following link:</p>
        <p><a href="https://www.kaggle.com/datasets/bhavikjikadara/student-study-performance">Student Study Performance Dataset on Kaggle</a></p>

        <p>Explore the intricate dynamics of student study performance and uncover insights into academic achievement with this comprehensive dataset!</p>
    </body>
</html>