<!DOCTYPE html>
<html>
    <head>
        <title>Study Performance Insights</title>
    </head>
    <body>
        <h1>Welcome to the Study Performance Insights Website!</h1>
        <p>Explore insights into student performance, demographic factors, and academic success with our comprehensive dataset. Navigate through the pages to delve into the details of our study.</p>
        
        <h2>Pages:</h2>
        <ul>
            <li> <a href="{{ url_for('about') }}">About</a> </li>
            <li> <a href="{{ url_for('data') }}">Data</a></li>
        </ul>

    </body>
</html>
